services:
  plugin-lint:
    image: buildkite/plugin-linter:v3.0.0
    command: ['--id', 'elastic/vault-github-token', '--path', '/plugin']
    volumes:
      - ".:/plugin:ro,z"

  test:
    command: ["bats", "--show-output-of-passing-tests", "--verbose-run", "tests/"]
    image: buildkite/plugin-tester:v4.3.0
    volumes:
      - ".:/plugin:ro,z"

  shellcheck:
    image: koalaman/shellcheck-alpine:v0.11.0
    entrypoint: ["sh", "-c"]
    command:
      - "find hooks .buildkite/scripts -type f 2>/dev/null | xargs shellcheck --shell=bash --external-sources --color=always --format=gcc"
    working_dir: /plugin
    volumes:
      - ".:/plugin:ro,z"

  e2e-test:
    image: buildkite/plugin-tester:v4.3.0
    environment:
      - GITHUB_TOKEN
    volumes:
      - ".:/plugin:ro,z"
    working_dir: /plugin
    command: [".buildkite/scripts/test-e2e.sh"]